<?xml version='1.0' encoding='utf-8'?>
<widget id="com.danieloh.hello" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>DOH.Notif</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="mdpi" src="res\icon\android\ic_rd_launcher_push_notif_mdpi.png" />
        <icon density="hdpi" src="res\icon\android\ic_rd_launcher_push_notif_hdpi.png" />
        <icon density="xhdpi" src="res\icon\android\ic_rd_launcher_push_notif_xhdpi.png" />
        <icon density="xxhdpi" src="res\icon\android\ic_rd_launcher_push_notif_xxhdpi.png" />
        <icon density="xxxhdpi" src="res\icon\android\ic_rd_launcher_push_notif_xxxhdpi.png" />
        <splash density="land-hdpi" src="res/screen/android/hdpiland.png" />
        <splash density="land-ldpi" src="res/screen/android/ldpiland.png" />
        <splash density="land-mdpi" src="res/screen/android/mdpiland.png" />
        <splash density="land-xhdpi" src="res/screen/android/xhdpiland.png" />
        <splash density="port-hdpi" src="res/screen/android/hdpiport.png" />
        <splash density="port-ldpi" src="res/screen/android/ldpiport.png" />
        <splash density="port-mdpi" src="res/screen/android/mdpiport.png" />
        <splash density="port-xhdpi" src="res/screen/android/xhdpiport.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="^6.3.0" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-splashscreen" spec="git+https://github.com/apache/cordova-plugin-splashscreen.git" />
    <plugin name="cordova-plugin-local-notification" spec="^0.9.0-beta.1" />
    <plugin name="cordova-sqlite-storage" spec="^2.1.2" />
</widget>
